@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho");

@font-face {
  font-family: "QijiCombo";
  src: url("../public/fonts/qiji-combo.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Tinos";
  src: url("../public/fonts/Tinos-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Charis SIL";
  src: url("../public/fonts/CharisSIL-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "IM Fell DW Pica English SC";
  src: url("../public/fonts/IMFellDWPicaSC-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "IM Fell DW Pica";
  src: url("../public/fonts/IMFellDWPica-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "IM Fell DW Pica";
  src: url("../public/fonts/IMFellDWPica-Italic.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-serif: "IM Fell DW Pica English SC", "Hina Mincho", serif;
  --font-serif-emph: "IM Fell DW Pica", "Hina Mincho", serif;
  --font-ipa: "Charis SIL", "Tinos", serif;
  --font-transcription: "IM Fell DW Pica", "Tinos", serif;

  --color-punctuation: #cf4235ee;
  --color-keyword: #cf4235ee;
  --color-code-token-number: #872;
  --color-code-token-string: #357;
}

.font-serif em {
  font-family: var(--font-serif-emph);
  font-style: italic;
}
