@import "tailwindcss";

@font-face {
  font-family: "QijiCombo";
  src: url("../public/fonts/qiji-combo.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "CinzelDecorative";
  src: url("../public/fonts/CinzelDecorative-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "CinzelDecorative";
  src: url("../public/fonts/CinzelDecorative-Bold.ttf") format("truetype");
  weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Tinos";
  src: url("../public/fonts/Tinos-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "IM Fell DW Pica English SC";
  src: url("../public/fonts/IMFellDWPicaSC-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "IM Fell DW Pica";
  src: url("../public/fonts/IMFellDWPica-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "IM Fell DW Pica";
  src: url("../public/fonts/IMFellDWPica-Italic.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-serif: "IM Fell DW Pica English SC", serif;
  --font-ipa: "Tinos", serif;
}
